/*标签云css样式*/
.tag-cloud a {
    border: 1px solid #ebebeb;
    padding: 2px 7px;
    color: #6c6a5a;
    line-height: 2em;
    display: inline-block;
    font-size:14px;
    margin: 0 7px 7px 0;
    transition: all 0.2s ease;
}

.tag-cloud a:hover {
    background-color:#276398;
    opacity: 0.7;
    color: white;
    text-decoration: none;
}